h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.container {
  margin: 2rem;
}

input {
  width: 100%;
}

.todo_container {
  text-align: left;
}

.items_container {
  text-align: left;
}

.kg_row {
  margin-bottom: 10px;
}

.btn {
  width: 80px;
}
.d-flex {
  padding: 25px;
}
